
html {
    overflow: hidden;
    width: calc(100vw);
    height: calc(100vh);
    margin: 0;
    padding: 0;

    /*cursor: none; remove later for aesthetics*/

    background-color: #000000;
    background: radial-gradient(circle at calc(70vw) calc(20vh), #274741 0%, #273443 25%, #261d36 70%, #151720 100%);
}

body{
    overflow: auto;
    width: calc(100vw);
    height: calc(100vh);
    margin: 0;
    padding: 0;

    color:white;
    font-family: Garamond, serif;
}

.heading{
  position: relative;

  left: calc(-10vw);
  top: calc(50vh);

  height: 10%;
  width: 40%;
  transform-origin: 50% 50%;
  transform: rotateZ(-90deg);

  font-family: century-gothic, sans-serif;

  text-align: right;
}
.dot {
    left: 0;
    top: 0;

    height: 0px;
    width: 0px;
    
    --size: 0;

    --radius: 0;
    --theta: 0;

    background-color: #6f6c6c;
    border-radius: 50%;
    position: fixed;
  }

  .text {
    left: 0px;
    top: 0px;

    height: 100px;
    width: 100px;

    --queue_id: -1;

    color: #ffffff;
    position: fixed;

    transform-origin: center;
    opacity: 0;

    content: "";
  }
  .image {
    perspective: 1000px;

    border-radius: 25px;
    border: 3px solid #d1f8fc;

    left: calc(65vw);
    top: calc(50vh);

    height: calc(17.5vw);
    width: calc(15vw);

    color: #ffffff;
    position: fixed;
    object-fit: cover;

    transform: perspective(400px) translate(-50%, -50%);
    transform-origin: center;
    transform-style: preserve-3d;

    backface-visibility:visible;

    --queue_id: -1;
    opacity: 0;
  }